html{
    scroll-behavior: smooth;
}
.navigation-item a:hover{
    color: #fab900;
}
.navigation-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-bottom: .5px solid #818181;
}
.navigation-item{
    display: inline-block;
}

.navigation-item a{
    color: #818181;
}

.history-item{
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #818181;
}

.about-text{
    display: inline-block;
    color: #818181;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    padding: 0px 50px;
    text-align: left;
}
.about-heading{
    text-align: center;
    margin: 20px 0px;
    color: #fab900;
}
.icon{
    color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    line-height: 40px;
    
}
.icon-hover{
    color: #818181;
}
.icon-hover:hover{
    color: #fab900;
}
.feedback{
    font-size: 20px;
    margin-left: 7px;
}

#contacts{
    padding-bottom: 50px;
}

.text-center{
    text-align: center;
}
#partners{
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}
.images img{
    margin: 10px;
}
.images {
    text-align: center;
}
#news{
    width: 70%;
    margin: auto;
    padding: 30px 0px;
}

.news-item{
    display: flex;
}
.pad{
    padding: 10px;
    padding-bottom: 40px;
}
.read-more {
    padding: 0px 10px;
    font-style: italic;
}
.news-heading{
    font-size: 20px;
}
