* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buscet__h1 {
    color: #f6b607;
    margin: 100px 330px;
}

.buscet__box {
    width: 100%;
    height: 300px;
  
}

.buscet__boxes {
    margin-top: -20px;
    margin-left: 400px;
}

.buscet__box_img {
    width: 300px;
    height: 250px;  
}