.bestseller-part {
  width: 1052px;
  margin: auto;
}

.main-div {
  width: 1052px;
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  padding: 25px;
  overflow: auto;
  margin: 0px auto;
}
.ad-product {
  width: 250px !important;
}
.ad-product-info {
  font-size: 24px;
  color: #4b4b4b;
  text-align: left;
}
.ad-product-info:hover {
  color: #fab900;
}
.bestseller-part h2 {
  color: #cd030c;
  margin: 30px 0px;
  font-weight: 300;
}
.top img{
    text-align: center;
}
.ad-product hr{
    margin: 30px 10px;
}
.top{
    height: 300px;
    position: relative;
}
.bottom{
    height: 50px;
}
.price{
    margin: 0px 25px;
    color: #6f6f6f;
    font-weight: 300;
}
.discount{
    font-size: 25px;
    margin: 0px 10px;
    color: #cd030c;
    font-weight: bolder;
}

.bestseller-tag{
    background-color: #feea00;
    color: #6f6f6f;
    position: absolute;
    left: 0;
    font-size: small;
    
}
.tag{
    margin: 5px 30px 5px 10px;
}
.mrg{
    margin-top: 50px;
}
