.Kredit-text{
    padding-left: 235px;
    font-weight: 500;
    margin: auto;
    text-align: left;
    color: #fab900;
}
.p1{
    padding-left: 275px;
    text-align: left;
    color: grey;
}
.p2{
    text-align: left;
    padding-left: 275px;
    color: grey;
}
.p3{
    
    text-align: left;
    padding-left: 275px;
    color: grey;
}