* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 55px;
  background-color: #555555;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.navbar__start {
  display: flex;
  align-items: center;
}

.navbar__start_select {
  background-color: transparent;
  border: none;
  color: white;
}

.navbar__start_select:hover {
  color: #FAB900;
}

.navbar__start_number {
  text-decoration: none;
  color: white;
  margin-left: 30px;
  color: #FAB900;
}

.navbar__center {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navbar__center_link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin-left: 50px;
}

.navbar__center_link:hover {
  color: #FAB900;
}

.navbar__end {
  color: white;
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.navbar__end_link1 {
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin-right: -50px;
}

.navbar__end_link2 {
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin-left: 70px;
}

.navbar__end_link1:hover {
  color: #FAB900;
}

.navbar__end_link2:hover {
  color: #FAB900;
}

.nav {
  width: 100%;
  height: 105px;
  background-color: #2C2F30;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navv {
  display: grid;
  grid-template-columns: 300px 300px 200px 300px;
  align-items: center;
}

.nav {
  padding-left: 200px;
  align-items: center;
}

.nav__start {
  margin-left: -50px;
  margin-top: 17px;
}

.nav__start_link {
  color: white;
  font-size: 15px;
  margin-left: 1px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.nav__start_link:hover {
  color: #FAB900;
}

.nav__start_link_icon {
  padding-right: 0px;
  font-size: 25px;
}

.nav__start_link_ul {
  list-style-type: none;
  text-align: none;
  margin-left: 10px;
}

.nav__img_img {
  width: 300px;
  margin-left: -100px;
}

.nav__input {
  margin-left: -20px;
  align-items: center;
}

.nav__input_inp {
  background-color: #2C2F30;
  width: 205px;
  height: 40px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0px 12px;
  font-size: 16px;
  color: #a0a0a0;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav__input_link {
  position: absolute;
  margin: 8px -30px;
  color: white;
  font-size: 20px;
}

.nav__input_link:hover {
  color: #FAB900;

}

.nav__end {
  margin-left: 25px;
}

.nav__end:hover {
  color: #FAB900;
}

.nav__end_link {
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.nav__end_link:hover {
  color: #FAB900;
}

.nav__end_link_icon {
  font-size: 28px;
  margin-right: 12px;
}

.nav__end_link_ul {
  list-style-type: none;
  margin-left: 1px;
}

.nav__end__master {
  color: #fff;
  display: flex;
  justify-content: end;
  margin-top: -43px;
  font-size: 16px;
  font-weight: 200;
  position: absolute;
  margin-left: 150px;
}

.nav__end_link1 {
  color: #fff;
}

.nav__end_link1:hover {
  color: #FAB900;
}

.nav__end_icon {
  width: 100%;
}

.nav__end_master-h1 {
  font-size: 16px;
  font-weight: 500;
}
