@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

.Oforma-text{
    padding-left: 230px;
    font-weight: 500;
    margin: auto;
    text-align: left;
    color: #fab900;
}
.Oforma-text1{
    text-align: left;
    padding-left: 240px;
    color: #fab900;
}
.p1{
    text-align: left;
    padding-left: 240px;
    color: grey;
}
.p2{
    text-align: left;
    padding-left: 240px;
    padding-right: 500px;
    color: grey;
}
.p3{
    text-align: left;
    padding-left: 265px;
    padding-right: 465px ;
    color: grey;
}