.Oplata-text{
    padding-left: 230px;
    font-weight: 500;
    margin: auto;
    text-align: left;
    color: #fab900;
}
.kp{
    padding-left: 230px;
    color: grey;
}
.section {
    padding: 0px 40px;
    padding-bottom: 100px;
    height: 170px;
  }
  .columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }
  .column {
    box-sizing: border-box;
    padding: 0px;
    text-align: center;
    padding-bottom: 25px;
  }
  .is-70 {
    width: 70%;
    padding-left: 15%;
  }
  .is-30 {
    width: 30%;
  }
  .t1{
    padding-left: 30px;
    color: #fab900;
    
  }
  .t2{
    padding-left: 30px;
    color: grey;
  }
  .t3{
    padding-left: 30px;
    color: #fab900;
  }
  .t4{
    padding-left: 30px;
    color: grey;
  }
  .t5{
    padding-left: 30px;
    color: #fab900;
  }
  .t6{
    padding-left: 30px;
    color: grey;
  }
  .t7{
    padding-left: 30px;
    color: #fab900;
  }
  .t8{
    padding-left: 30px;
    color: grey;
  }
  .t9{
    padding-left: 45px;
    color: grey;
  } 
  .t10{
    padding-left: 45px;
    color: grey;
  }
  .t11{
    padding-left: 45px;
    color: grey;
  }
  .c1{
    padding-left: 30px;
    color: grey;
  }
  .c2{
    padding-left: 30px;
    color: grey;
  }
  .c3{
    padding-left: 30px;
    color: grey;
  }
  .c4{
    padding-left: 45px;
    color: grey;
  }
  .c5{
    padding-left: 45px;
    color: grey;
  }
  .c6{
    padding-left: 45px;
    color: grey;
  }