    .ordp_litso {
    text-align: center;
    color: #fab900;
    font-size: 14px;
    }
    .ordp_inputs {
    text-align: center;
    }
    .ordp_inputs p {
    display: inline;
    color: #989898;
    text-align: right;
    font-size: 14px;
    }
    .ordp_inputs input {
    display: inline-block;
    color: #6c6d6f;
    padding: 8px 50px 9px 12px;
    border: 1px solid #cac8c7;
    border-radius: 4px;
    }
