.Danix-text{
    padding-left: 230px;
    
    margin: auto;
    text-align: left;
    color: #fab900;
}
.p1{

  text-align: left;
  padding-left: 240px;
  color: grey;
  

}
.p2{

  text-align: left;
  padding-left: 265px;
  padding-right: 465px ;
  color: grey;

}
.p3{
  text-align: left;
  padding-left: 285px;
  padding-right: 460px;
  color: grey;
}