* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* .footer {
  width: 100%;
  height: 428px;
  background-color: #363a3b;
  color: #fff;
  margin-top: 208px;
  /* display: flex;
  align-items: center;
  justify-content: center; 

} */
/* .footer__inner {
  padding: 20px 20px 20px 128px;
  display: flex;
} 
footer {
  width: 100%;
  height: auto;
  background-color: #363a3b;
  padding-top: 0px;
 
  margin: 0 auto;
  color: #fff;
}
.footer__inner{
padding: 20px ;
}
.footer_menu_links__li a {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 18px;
  display: block;
  margin-bottom: 4px;
}
.footer-left{
  padding-left: 171px;
  
}
.footer__search{

} */

.section {
  padding: 0px 40px;
  background-color: #363a3b;
  color: #fff;
  padding-bottom: 100px;
}
.is-33 {
  width: 33%;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}
.column {
  box-sizing: border-box;
  padding: 0px;
}
.footer-left {
  text-align: right;
}
.footer__logo_text {
  text-align: left;
  padding-right: 120px;
  font-size: 14px;
  color: #abacab;
  margin-left: 180px;
  margin-bottom: 15px;
}
.footer__logo {
  margin-bottom: 0px;
  padding-right: 27px;
  padding-bottom: 30px;
}
.footer__comment {
  padding-right: 120px;
  color: grey;
  text-decoration: none;
}
.footer__search {
  width: 293px !important;
  position: relative;
}
.footer-search__input {
  outline: none;
  font-weight: 100px;
  border: 1px solid #cac8c7;
  border-radius: 2px;
  background-color: #363a3b00;
  padding: 9px;
  font-size: 17px;
  color: #cac8c7;
  padding-right: 100px;
}
.footer__search::placeholder {
  color: #cac8c7;
}
.footer__search:focus {
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
}
.is-50 {
  width: 50%;
}
.footer_menu_links {
  padding-top: 30px;
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer_menu_links__li:hover{
  color: #fab900;
  transition: 0.5s
}
.footer_menu_links__li {
  padding-bottom: 5px;
}
.footer__tel {
  color: #fab900;
  font-size: 27px;
  display: block;
  margin-bottom: 100px;
  margin-top: 4px;
  position: relative;
  margin-left: 20px;
}
.footer__address{
  text-decoration: none;
  color: #ABACAB;
  font-size: 13px;
  position: relative;
 padding-bottom: 140px;

}
.footer__comment a{
  color: #4B4B4B;
  text-decoration: none;
  font-size: 14px;
}
.footer__comment{
 text-align: left;
 padding-left: 170px;

}
.is-16{
  font-size: 16px;
}
.footer__comment a:hover{
  color: #fab900;
  transition: 0.7s;
}
.footer-social{
  font-size: 24px;
}
.marleft-14{
  margin-left: 8px;
  display: inline;
cursor: pointer;
}
.button__search{
 font-size: 25px;

}
.footer-search {
  position: relative;
}
.footer-seach__icon {
  position: absolute;
  right: 140px;
  top: 8px;
  font-size: 22px;
}
.footer-middle{
  padding-top: 35px;
}
.footer__addres{
  text-align: center;
  padding-right: 190px;
  margin-top: -100px;
}